In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [16]:
html = requests.get("https://en.wikipedia.org/wiki/Red_Bull_BC_One").text

In [17]:
soup = BeautifulSoup(html)

In [18]:
tables = soup.select("table.wikitable")
len(tables)

2

In [23]:
tables[3]

IndexError: list index out of range

In [20]:
table_2023 = tables[3]
table_2023.text[:500]

IndexError: list index out of range

In [21]:
table_header_row = table_2023.select("th")
len(table_header_row)

NameError: name 'table_2023' is not defined

In [22]:
table_headers = [ table_header_names.text.strip() for table_header_names in table_2023.select("th")[:2] ]
table_headers

NameError: name 'table_2023' is not defined

In [128]:
table_2023_rows = []
for i in range(1, len(table_2023.select("tr"))):
    table_2023.select("tr")[i]
    table_2023_rows.append(table_2023.select("tr")[i])
len(table_2023_rows)

16

In [130]:
table_2023_cells = [
    [ table_2023_cell.text.strip() for table_2023_cell in table_2023_row.select("td")[:2] ]
    for table_2023_row in table_2023_rows
]

table_2023_cells

[['Tiro', "Belgium With Attitude / Funky Belgian'z"],
 ['Wigor', 'Coolkidz Mob'],
 ['Phil Wizard', 'United Rivals / 7 Commandoz'],
 ['Hong 10', 'Flow XL / 7 Commandoz'],
 ['Issin', 'Body Carnival / Okayama Bboyz / Never Enough'],
 ['Allef', 'Floor Riders'],
 ['Kid Karam', 'Smac 19 / Trinity Warriors'],
 ['X-Rain', 'Chinese National Team / Skechers All Stars'],
 ['Kastrito', 'Holookunz / Renegade Rockers'],
 ['Dany Dann', 'Vagabonds / 97X'],
 ['Jeffro', 'Rock All Day Crew / Monsters Bboy'],
 ['Lego Sam', 'Brothergreen / Cypherz Kingz / Formless Corp'],
 ['Khalil', 'Legiteam Obstruxion'],
 ['Mighty Jake',
  'Team Vinotinto / Formlesscorp / Flava & Spice / Chamos Crew'],
 ['Kid Colombia', 'Hustle Kidz / Styles Confidential'],
 ['Amaro', 'Lottaboyz']]

In [7]:
og_df = pd.DataFrame(table_2023_cells, columns=table_headers)
og_df

NameError: name 'pd' is not defined

In [201]:
for table_2023_row in table_2023_rows:
    country_2023 = table_2023_row.a.get('title')
    print(country_2023)

Belgium
Poland
Canada
South Korea
Japan
Brazil
United Kingdom
China
Mexico
France
United States
Malaysia
France
Venezuela
Netherlands
Italy

In [202]:
countries_2023 = []
for table_2023_row in table_2023_rows:
    countries_2023.append(table_2023_row.a.get('title'))

og_df['Country'] = countries_2023
og_df

,Name,Crew,Country
0,Tiro,Belgium With Attitude / Funky Belgian'z,Belgium
1,Wigor,Coolkidz Mob,Poland
2,Phil Wizard,United Rivals / 7 Commandoz,Canada
3,Hong 10,Flow XL / 7 Commandoz,South Korea
4,Issin,Body Carnival / Okayama Bboyz / Never Enough,Japan
5,Allef,Floor Riders,Brazil
6,Kid Karam,Smac 19 / Trinity Warriors,United Kingdom
7,X-Rain,Chinese National Team / Skechers All Stars,China
8,Kastrito,Holookunz / Renegade Rockers,Mexico
9,Dany Dann,Vagabonds / 97X,France
10,Jeffro,Rock All Day Crew / Monsters Bboy,United States
11,Lego Sam,Brothergreen / Cypherz Kingz / Formless Corp,Malaysia
12,Khalil,Legiteam Obstruxion,France
13,Mighty Jake,Team Vinotinto / Formlesscorp / Flava & Spice ...,Venezuela
14,Kid Colombia,Hustle Kidz / Styles Confidential,Netherlands
15,Amaro,Lottaboyz,Italy

In [203]:
og_df['Year'] = '2023'
og_df

,Name,Crew,Country,Year
0,Tiro,Belgium With Attitude / Funky Belgian'z,Belgium,2023
1,Wigor,Coolkidz Mob,Poland,2023
2,Phil Wizard,United Rivals / 7 Commandoz,Canada,2023
3,Hong 10,Flow XL / 7 Commandoz,South Korea,2023
4,Issin,Body Carnival / Okayama Bboyz / Never Enough,Japan,2023
5,Allef,Floor Riders,Brazil,2023
6,Kid Karam,Smac 19 / Trinity Warriors,United Kingdom,2023
7,X-Rain,Chinese National Team / Skechers All Stars,China,2023
8,Kastrito,Holookunz / Renegade Rockers,Mexico,2023
9,Dany Dann,Vagabonds / 97X,France,2023
10,Jeffro,Rock All Day Crew / Monsters Bboy,United States,2023
11,Lego Sam,Brothergreen / Cypherz Kingz / Formless Corp,Malaysia,2023
12,Khalil,Legiteam Obstruxion,France,2023
13,Mighty Jake,Team Vinotinto / Formlesscorp / Flava & Spice ...,Venezuela,2023
14,Kid Colombia,Hustle Kidz / Styles Confidential,Netherlands,2023
15,Amaro,Lottaboyz,Italy,2023

In [79]:
# tables[5]

In [166]:
# table_2022 = tables[5]
# table_2022_rows = []
# for i in range(1, len(table_2022.select("tr"))):
#     table_2022.select("tr")[i]
#     table_2022_rows.append(table_2022.select("tr")[i])
# len(table_2022_rows)

In [134]:
# table_2022_cells = [
#     [ table_2022_cell.text.strip() for table_2022_cell in table_2022_row.select("td") ]
#     for table_2022_row in table_2022_rows
# ]

# table_2022_cells

In [135]:
# df_2022 = pd.DataFrame(table_2022_cells, columns=table_headers)
# df_2022

In [167]:
# og_df = pd.concat([df, df_2022], ignore_index=True)
# og_df

In [168]:
# def parsingtable(num):
#     # year = soup.find(id = str(num)).get('id')
#     # h3 = soup.find(id = "Competitors_2").get('id')
#     h3 = soup.find_next('h3')
#     if h3.next_sibling.get('id') == "Competitors_" + :
#         h3.next_sibling.next_sibling
#         # make your table to some dataframe
#     else: 
#         print("not somthing I want")

In [204]:
competitor_number = 3
h3s = soup.select('h3')

# for i in range(2004,2024):
    # parsingtable(i)
year = 2022
for h3 in h3s:
    # h3 = soup.select('h3')
    # print(h3.next_element)
    if h3.next_element.get('id') == "Competitors_" + str(competitor_number):
        rows = h3.next_sibling.next_sibling.select("tr")[1:]
        redbull_cells =  [
    [ cell.text.strip() for cell in row.select("td")[:2]]
    for row in rows
    ]
        country = []
        for row in rows:
            country.append(row.a.get('title'))
            # print(country)
        # print(redbull_cells)
        redbull_df = pd.DataFrame(redbull_cells, columns=table_headers)
        # add year and country here 
        redbull_df['Country'] = country
        redbull_df['Year'] = str(year)
        year-=1
        # make your table to some dataframe
        og_df = pd.concat([og_df, redbull_df], ignore_index=True)
        competitor_number+=1
    # else: 
    #     print("not something I want")
    
og_df

,Name,Crew,Country,Year
0,Tiro,Belgium With Attitude / Funky Belgian'z,Belgium,2023
1,Wigor,Coolkidz Mob,Poland,2023
2,Phil Wizard,United Rivals / 7 Commandoz,Canada,2023
3,Hong 10,Flow XL / 7 Commandoz,South Korea,2023
4,Issin,Body Carnival / Okayama Bboyz / Never Enough,Japan,2023
...,...,...,...,...
310,Iron Monkey,Renegades / Knuckle Neck Tribe / Rock Force / ...,United States,2004
311,Wake Up,Expression / Maximum Crew,South Korea,2004
312,Wongo,Illusions / Skill@Will,Australia,2004
313,Junior,Wanted Posse,France,2004
314,Nuno,Les Enfants Perdus[17],Switzerland,2004

In [235]:
#og_df.head(32)

In [206]:
og_df['Name'].value_counts().head(20)

Name
Lil Zoo         9
Hong 10         8
Taisuke         7
Menno           7
Lilou           6
Ronnie          6
Victor          6
Issei           5
Wing            5
Sunni           5
Nori            5
Roxrite         5
Lil G           5
Neguin          5
Mounir          5
Benny           4
Thesis          4
Alkolil         4
Phil Wizard     4
Kid Colombia    3
Name: count, dtype: int64

In [207]:
og_df['Country'].value_counts()

Country
United States     52
France            34
South Korea       32
Japan             30
Brazil            22
Netherlands       19
Russia            16
Morocco           11
Venezuela         10
United Kingdom     9
Ukraine            8
Germany            7
Poland             6
South Africa       6
Kazakhstan         5
Italy              5
Canada             5
Portugal           4
Spain              4
Mexico             3
Denmark            3
Australia          3
Colombia           2
Greece             2
Taiwan             2
India              2
Norway             1
Hong Kong          1
Senegal            1
Peru               1
Algeria            1
Belgium            1
Vietnam            1
Bulgaria           1
Finland            1
Belarus            1
Malaysia           1
China              1
Switzerland        1
Name: count, dtype: int64

In [208]:
og_df.groupby('Year')['Country'].value_counts()

Year  Country
2004  United States     4
      France            2
      Germany           2
      South Korea       2
      Australia         1
                       ..
2023  Poland            1
      South Korea       1
      United Kingdom    1
      United States     1
      Venezuela         1
Name: count, Length: 224, dtype: int64

In [210]:
og_df[og_df['Country'] == 'United States']

,Name,Crew,Country,Year
10,Jeffro,Rock All Day Crew / Monsters Bboy,United States,2023
22,Victor,MF Kidz / Backyard Funk / Squadron,United States,2022
40,Flea Rock,The Street Masters / Skill Methodz,United States,2021
52,Philip,Phase II / Squadron,United States,2020
59,Stripes,Main Ingredientz / Flipside Kings,United States,2019
78,Victor,MF Kidz / Backyard Funk / Squadron,United States,2018
83,Luigi,Skill Methodz / Squadron,United States,2018
90,Thesis,Knuckleheads Cali / Massive Monkees / TheM Tea...,United States,2017
100,Moy,Havikoro / Monster Bboys,United States,2017
104,Victor,MF Kidz / Backyard Funk / Squadron,United States,2016
116,Benstacks,Knucklehead Zoo / Super Cr3w,United States,2016
122,Victor,MF Kidz / Backyard Funk / Squadron,United States,2015
128,El Niño,Floorlords / Flava Squad / Squadron / Boogie B...,United States,2015
131,Kareem,Fallen Kings,United States,2015
138,Victor,MF Kidz / Backyard Funk / Squadron,United States,2014
145,Thesis,Knuckleheads Cali / THEM Team / Massive Monkee...,United States,2014
148,Gravity,Dynamic Rockers / 5 Crew Dynasty / Monster Energy,United States,2014
153,Omar,Jive Turkeys / Mighty Zulu Kingz,United States,2013
156,Ronnie,Full Force Crew / Super Cr3w / 7 Commandoz,United States,2013
159,Roxrite,Renegades / Break Disciples / Squadron,United States,2013
162,Gravity,Dynamic Rockers / 5 Crew Dynasty,United States,2013
169,Roxrite,Break Deciples / Squadron / Renegades,United States,2012
170,DOMkey,Lionz of Zion,United States,2012
182,Kid David,Renegades / Squadron / Skill Brat Renegades,United States,2012
184,Victor,MF Kidz / Backyard Funk,United States,2012
186,El Niño,Floorlords / Flava Squad / Boogie Brats / Squa...,United States,2011
191,Morris,Fallen Kings / Rock Force,United States,2011
195,Roxrite,Renegades / Break Disciples / Squadron,United States,2011
203,Gravity,Dynamic Rockers / 5 Crew Dynasty,United States,2010
209,Luigi,Skill Methodz / Squadron,United States,2010
215,Thesis,Knuckleheadz Cali / Massive Monkees / TheM Tea...,United States,2010
223,Morris,Fallen Kings / Rock Force,United States,2009
226,Thesis,Knuckleheadz Cali / Massive Monkees / TheM Tea...,United States,2009
228,Cloud,Skill Methodz,United States,2009
232,Kid Glyde,Dynamic Rockers,United States,2009
237,Kid David,Renegades / Squadron,United States,2008
246,Ronnie,Full Force / Super Cr3w,United States,2008
250,Ronnie,Full Force / Super Cr3w / 7 Commandoz,United States,2007
251,Roxrite,Battle Disciples / Renegades / Squadron,United States,2007
255,Spee-D,Unique Styles,United States,2007
261,Twixx,Massive Monkees,United States,2007
267,Do Knock,Battle Monkeys / Super Cr3w / Full Force,United States,2006
273,Roxrite,Break Deciples / Renegades / Squadron,United States,2006
281,Ronnie,Full Force / Super Cr3w / 7 Commandoz,United States,2006
285,Omar,Jive Turkeys / Mighty Zulu Kingz,United States,2005
290,Ronnie,Full Force / Super Cr3w / 7 Commandoz,United States,2005
291,Moy,Havikoro / Footwork Fanatix,United States,2005
294,Machine,Killafornia / LODB,United States,2005
300,Bebe,Ground Zero Crew,United States,2004
304,Omar,Jive Turkeys / Mighty Zulu Kingz,United States,2004
307,Ronnie,Full Force / Super Cr3w / 7 Commandoz,United States,2004
310,Iron Monkey,Renegades / Knuckle Neck Tribe / Rock Force / ...,United States,2004

In [221]:
us_df = og_df[og_df['Country'] == 'United States']
us_df['Name'].value_counts()

Name
Ronnie         6
Victor         6
Roxrite        5
Thesis         4
Gravity        3
Omar           3
Kid David      2
El Niño        2
Moy            2
Luigi          2
Morris         2
Twixx          1
Cloud          1
Spee-D         1
Do Knock       1
Machine        1
Kid Glyde      1
Bebe           1
Jeffro         1
DOMkey         1
Kareem         1
Benstacks      1
Stripes        1
Philip         1
Flea Rock      1
Iron Monkey    1
Name: count, dtype: int64

In [211]:
og_df[og_df['Country'] == 'France']

             Name                                   Crew Country  Year
9       Dany Dann                        Vagabonds / 97X  France  2023
12         Khalil                    Legiteam Obstruxion  France  2023
23        Marlone                             Immigrandz  France  2022
35         Lagaet                 Momentum / The Ruggeds  France  2021
50        Pac Pac            Bad Trip Crew / Tekken Crew  France  2020
64         Khalil                    Legiteam Obstruxion  France  2019
75        Lil Kev                              Vagabonds  France  2018
93          Willy                  Tekken / Flying Steps  France  2017
97     Danny Dann                        Vagabonds / 97X  France  2017
112          Soso                          Melting Force  France  2016
133         Nasso         Melting Force / Arabic Flavour  France  2015
143         Tonio               Inesteam / Total Feeling  France  2014
144         Lilou                          Pockemon Crew  France  2014
147        Mounir                              Vagabonds  France  2014
154         Lilou                          Pockemon Crew  France  2013
160        Mounir                              Vagabonds  France  2013
173        Mounir                              Vagabonds  France  2012
181        Junior                           Wanted Posse  France  2012
192        Mounir                              Vagabonds  France  2011
197          SoSo                          Melting Force  France  2011
205          Keyz       Vagabonds / Original South Kingz  France  2010
210        Marcio                    Legiteam Obstruxion  France  2010
225      Punisher                 Alliance / Silent Trix  France  2009
241       Lil Kev                    Phase T / Vagabonds  France  2008
243        Mounir                              Vagabonds  France  2008
259     Sébastien                            Main Source  France  2007
260         Lilou                          Pockemon Crew  France  2007
271  Crazy Monkey                          Funny Flavour  France  2006
276         Lilou                          Pockemon Crew  France  2006
283         Lilou                          Pockemon Crew  France  2005
288        Junior                           Wanted Posse  France  2005
293        Brahim                          Pockemon Crew  France  2005
305            By  Fantastic Armada / A Nous les Moutons  France  2004
313        Junior                           Wanted Posse  France  2004

In [212]:
og_df[og_df['Country'] == 'South Korea']

,Name,Crew,Country,Year
3,Hong 10,Flow XL / 7 Commandoz,South Korea,2023
51,Vero,Jinjo,South Korea,2020
63,Heady,Artistreet / Modern Skillz,South Korea,2019
81,Vero,Jinjo,South Korea,2018
94,Kill,Gamblerz / C.A.Y. Crew,South Korea,2017
98,Wing,Jinjo / 7 Commandoz,South Korea,2017
111,Hong 10,Drifterz / 7 Commandoz,South Korea,2016
126,Leon,Fusion MC,South Korea,2015
136,Pocket,Morning of Owl,South Korea,2015
137,Hong 10,Drifterz / 7 Commandoz,South Korea,2014
146,Wing,Jinjo Crew / 7 Commandoz,South Korea,2014
155,Hong 10,Drifterz / 7 Commandoz,South Korea,2013
157,Wing,Jinjo Crew / 7 Commandoz,South Korea,2013
174,Shorty Force,One Way,South Korea,2012
176,Differ,T.I.P / 7 Commandoz,South Korea,2012
188,Hong 10,Drifterz / 7 Commandoz,South Korea,2011
199,Vero,Jinjo Crew,South Korea,2011
202,Beast,T.G. Breakers,South Korea,2010
206,Kill,Gamblerz / C.A.Y. Crew,South Korea,2010
227,Wing,Jinjo Crew / 7 Commandoz,South Korea,2009
229,Differ,T.I.P / 7 Commandoz,South Korea,2009
233,Baek,Extreme Crew,South Korea,2008
248,Wing,Jinjo Crew,South Korea,2008
249,Hong 10,Drifterz / 7 Commandoz,South Korea,2007
266,Baek,Extreme Crew,South Korea,2007
269,Hong 10,Drifterz / 7 Commandoz,South Korea,2006
278,The End,Gamblerz / C.A.Y. Crew,South Korea,2006
284,Physicx,Rivers Crew,South Korea,2005
289,Born,Rivers Crew / Floor Gangz / Mighty Zulu Kingz ...,South Korea,2005
292,Hong 10,Driftez / 7 Commandoz / Super Cr3w,South Korea,2005
309,Eagle,Expression / Maximum / Spinkingz / Gamblerz,South Korea,2004
311,Wake Up,Expression / Maximum Crew,South Korea,2004

In [213]:
og_df[og_df['Country'] == 'Japan']

            Name                                           Crew Country  Year
4          Issin   Body Carnival / Okayama Bboyz / Never Enough   Japan  2023
21         Yu-Ki       Foundnation / Kyushu Danji / Kosé 8Rocks   Japan  2022
30         Issin   Body Carnival / Okayama Bboyz / Never Enough   Japan  2022
32      Shigekix                         KAKB / Bboy World Asia   Japan  2021
44          Nori                        Flooriorz / Take Notice   Japan  2021
55      Shigekix                                           KAKB   Japan  2020
61   Kazuki Rock                                  Body Carnival   Japan  2019
70          Nori                        Flooriorz / Take Notice   Japan  2019
76          Nori                        Flooriorz / Take Notice   Japan  2018
80         Issei                                    Foundnation   Japan  2018
88         Issei                                    Foundnation   Japan  2017
91      Shigekix                         KAKB / Bboy World Asia   Japan  2017
102        Ayumi                                  Body Carnival   Japan  2017
105      Taisuke  All Area Crew / Flooriorz / Mighty Zulu Kingz   Japan  2016
106        Issei                                    Foundnation   Japan  2016
119         Nori                        Flooriorz / Take Notice   Japan  2016
132        Issei                                    Foundnation   Japan  2015
135  Kazuki Rock                                  Body Carnival   Japan  2015
152      Taisuke  All Area Crew / Flooriorz / Mighty Zulu Kingz   Japan  2014
166         Nori                        Flooriorz / Take Notice   Japan  2013
168      Taisuke  All Area Crew / Flooriorz / Mighty Zulu Kingz   Japan  2013
180        Issei                                    Foundnation   Japan  2012
198      Taisuke  All Area Crew / Flooriorz / Mighty Zulu Kingz   Japan  2011
214      Taisuke  All Area Crew / Flooriorz / Mighty Zulu Kingz   Japan  2010
216      Toshiki              All Area Crew / Mighty Zulu Kingz   Japan  2010
219         Kaku                           Mortal Combat / Cube   Japan  2009
247      Taisuke  All Area Crew / Flooriorz / Mighty Zulu Kingz   Japan  2008
258      Taisuke  All Area Crew / Flooriorz / Mighty Zulu Kingz   Japan  2007
268         Kaku                                  Mortal Kombat   Japan  2006
308      Kousuke                                Waseda Breakers   Japan  2004

In [214]:
og_df[og_df['Country'] == 'Brazil']

           Name                              Crew Country  Year
5         Allef                      Floor Riders  Brazil  2023
43         Bart  Flying Steps / Tsunami All Stars  Brazil  2021
68         Bart      Perfect Style / Flying Steps  Brazil  2019
72        Leony                       Amazon Crew  Brazil  2018
79         Luka                 Tsunami All-Stars  Brazil  2018
101       Ratin                Killa Rockers Crew  Brazil  2017
103       Leony                       Amazon Crew  Brazil  2017
117      Neguin                 Tsunami All-Stars  Brazil  2016
120       Leony                       Amazon Crew  Brazil  2016
127       Ratin                Killa Rockers Crew  Brazil  2015
141        Luan                      Funk Fockers  Brazil  2014
158      Neguin                 Tsunami All-Stars  Brazil  2013
171      Klesio                    New Old School  Brazil  2012
193      Neguin    Tsunami All-Stars / Super Cr3w  Brazil  2011
204        Kapu                       Amazon Crew  Brazil  2010
211      Neguin                 Tsunami All-Stars  Brazil  2010
224      Neguin                 Tsunami All-Stars  Brazil  2009
245   Pelezinho                 Tsunami All-Stars  Brazil  2008
257  Daniel QDM               Quebra de Movimento  Brazil  2007
272   Pelezinho                 Tsunami All Stars  Brazil  2006
275   Muxibinha                  DF Zulu Breakers  Brazil  2006
296   Pelezinho                 Tsunami All Stars  Brazil  2005

In [215]:
og_df[og_df['Country'] == 'Netherlands']

,Name,Crew,Country,Year
14,Kid Colombia,Hustle Kidz / Styles Confidential,Netherlands,2023
18,Lee,The Ruggeds,Netherlands,2022
24,Lorenzo,The Ruggeds / Fresh Allstars,Netherlands,2022
38,Tawfiq,The Ruggeds,Netherlands,2021
46,Lee,The Ruggeds,Netherlands,2021
57,Menno,Hustle Kidz / Def Dogs,Netherlands,2019
84,Kid Colombia,Hustle Kidz / Styles Confidential,Netherlands,2018
89,Menno,Hustle Kidz / Def Dogs,Netherlands,2017
96,Shane,Hustle Kidz,Netherlands,2017
108,Kid Colombia,Hustle Kidz / Styles Confidential,Netherlands,2016
121,Menno,Hustle Kidz / Def Dogs,Netherlands,2015
149,Menno,Hustle Kidz / Def Dogs,Netherlands,2014
167,Menno,Hustle Kidz / Def Dogs,Netherlands,2013
194,Niek,The Ruggeds,Netherlands,2011
212,Niek / Just Do It,The Ruggeds,Netherlands,2010
222,Menno,Def Dogz / Hustle Kidz / Mighty Zulu Kingz,Netherlands,2009
236,Niek / Just Do It,The Ruggeds,Netherlands,2008
242,Menno,Def Dogs / Hustle Kids / Mighty Zulu Kingz,Netherlands,2008
265,Niek / Just Do It,The Ruggeds,Netherlands,2007

In [242]:
og_df.groupby('Country')['Name'].unique().value_counts()

Name
[Lilou]                                                                                                                                                                                                                           1
[Benny, Jed]                                                                                                                                                                                                                      1
[Kid Colombia, Lee, Lorenzo, Tawfiq, Menno, Shane, Niek, Niek / Just Do It]                                                                                                                                                       1
[Dark Marc]                                                                                                                                                                                                                       1
[Alex]                                                                                                                                                                                                                            1
[Wigor, Thomaz, Kleju]                                                                                                                                                                                                            1
[Bruce Almighty, Lagaet]                                                                                                                                                                                                          1
[Gun, Alkolil, Bumblebee, Beetle, Cheerito, ExacT, Flying Buddha, Yan, Bootuz, Jora]                                                                                                                                              1
[Ben-J]                                                                                                                                                                                                                           1
[Hong 10, Vero, Heady, Kill, Wing, Leon, Pocket, Shorty Force, Differ, Beast, Baek, The End, Physicx, Born, Eagle, Wake Up]                                                                                                       1
[Kastrito, Dr. Hill, Hill]                                                                                                                                                                                                        1
[Xak, Johnny Fox, Chey, Extremo]                                                                                                                                                                                                  1
[Nuno]                                                                                                                                                                                                                            1
[Quake, Monkey King]                                                                                                                                                                                                              1
[Robin, Uzee Rock, Lussy Sky, Kuzya, Pluto, Kolobok]                                                                                                                                                                              1
[Kid Karam, Sunni, Mouse, Lil'Tim]                                                                                                                                                                                                1
[Jeffro, Victor, Flea Rock, Philip, Stripes, Luigi, Thesis, Moy, Benstacks, El Niño, Kareem, Gravity, Omar, Ronnie, Roxrite, DOMkey, Kid David, Morris, Cloud, Kid Glyde, Spee-D, Twixx, Do Knock, Machine, Bebe, Iron Monkey]    1
[Mighty Jake, Alvin, Mini Joe, Lil G, Salo]                                                                                                                                                                                       1
[Lil Zoo, Cri6, The Wolfer]                                                                                                                                                                                                       1
[Lego Sam]                                                                                                                                                                                                                        1
[Blond, Nasa, Wongo]                                                                                                                                                                                                              1
[Zoopreme, Sonic]                                                                                                                                                                                                                 1
[Wild Jerry]                                                                                                                                                                                                                      1
[Tiro]                                                                                                                                                                                                                            1
[Allef, Bart, Leony, Luka, Ratin, Neguin, Luan, Klesio, Kapu, Pelezinho, Daniel QDM, Muxibinha]                                                                                                                                   1
[Slav]                                                                                                                                                                                                                            1
[Phil Wizard, Illz]                                                                                                                                                                                                               1
[X-Rain]                                                                                                                                                                                                                          1
[Arex]                                                                                                                                                                                                                            1
[Focus]                                                                                                                                                                                                                           1
[Amir, Killa Kolya]                                                                                                                                                                                                               1
[Dany Dann, Khalil, Marlone, Lagaet, Pac Pac, Lil Kev, Willy, Danny Dann, Soso, Nasso, Tonio, Lilou, Mounir, Junior, SoSo, Keyz, Marcio, Punisher, Sébastien, Crazy Monkey, Brahim, By]                                           1
[Airdit, Lil Ceng, Lil Cheng, Rubber Legz, Leo, KC]                                                                                                                                                                               1
[Mighty Jimm, Onel]                                                                                                                                                                                                               1
[Drunk]                                                                                                                                                                                                                           1
[Wildchild, Flying Machine]                                                                                                                                                                                                       1
[Amaro, Froz, Cico]                                                                                                                                                                                                               1
[Issin, Yu-Ki, Shigekix, Nori, Kazuki Rock, Issei, Ayumi, Taisuke, Toshiki, Kaku, Kousuke]                                                                                                                                        1
[3T]                                                                                                                                                                                                                              1
Name: count, dtype: int64

In [228]:
og_df[og_df['Country'] == 'Russia'

              Name                                  Crew Country  Year
42             Gun   Illusion of Exist / Original People  Russia  2021
53         Alkolil              Original Breakers Circle  Russia  2020
62       Bumblebee                           Outstanding  Russia  2019
69          Beetle  Zames / Nothing 2 Lose / Green Panda  Russia  2019
99         Alkolil              Original Breakers Circle  Russia  2017
109       Cheerito        Illusion of Exist / EOS / FSAL  Russia  2016
129        Alkolil              Original Breakers Circle  Russia  2015
140       Cheerito        Illusion of Exist / EOS / FSAL  Russia  2014
151        Alkolil              Original Breakers Circle  Russia  2014
177          ExacT  Original Breakers Circle / Predatorz  Russia  2012
187  Flying Buddha             Top 9 / Mighty Zulu Kingz  Russia  2011
200            Yan                          All The Most  Russia  2011
218  Flying Buddha             Top 9 / Mighty Zulu Kingz  Russia  2009
253         Bootuz                             Predatorz  Russia  2007
282         Bootuz                             Predatorz  Russia  2006
287           Jora            Top 9 / Funk Fanatix Flava  Russia  2005

In [243]:
us_df = og_df[og_df['Country'] == 'United States']
us_df['Year'].value_counts()

Year
2013    4
2012    4
2005    4
2007    4
2009    4
2004    4
2015    3
2014    3
2011    3
2010    3
2006    3
2017    2
2016    2
2018    2
2008    2
2022    1
2019    1
2020    1
2021    1
2023    1
Name: count, dtype: int64

In [234]:
france_df = og_df[og_df['Country'] == 'France']
france_df['Year'].value_counts()

Year
2014    3
2005    3
2023    2
2006    2
2007    2
2008    2
2010    2
2011    2
2012    2
2013    2
2017    2
2004    2
2022    1
2015    1
2016    1
2009    1
2018    1
2019    1
2020    1
2021    1
Name: count, dtype: int64

In [244]:
sk_df = og_df[og_df['Country'] == 'South Korea']
sk_df['Year'].value_counts()

Year
2005    3
2012    2
2011    2
2006    2
2007    2
2008    2
2009    2
2010    2
2004    2
2013    2
2014    2
2015    2
2017    2
2020    1
2016    1
2018    1
2019    1
2023    1
Name: count, dtype: int64

In [246]:
jp_df = og_df[og_df['Country'] == 'Japan']
jp_df['Year'].value_counts()

Year
2017    3
2016    3
2021    2
2019    2
2018    2
2015    2
2022    2
2013    2
2010    2
2023    1
2009    1
2006    1
2007    1
2008    1
2014    1
2011    1
2012    1
2020    1
2004    1
Name: count, dtype: int64

In [248]:
nl_df = og_df[og_df['Country'] == 'Netherlands']
nl_df['Year'].value_counts()

Year
2022    2
2021    2
2017    2
2008    2
2023    1
2019    1
2018    1
2016    1
2015    1
2014    1
2013    1
2011    1
2010    1
2009    1
2007    1
Name: count, dtype: int64

In [249]:
br_df = og_df[og_df['Country'] == 'Brazil']
br_df['Year'].value_counts()

Year
2006    2
2018    2
2017    2
2016    2
2010    2
2023    1
2011    1
2007    1
2008    1
2009    1
2013    1
2012    1
2021    1
2014    1
2015    1
2019    1
2005    1
Name: count, dtype: int64

In [250]:
ls

Archival Photos/                   lilou_move.avif
Data/                              lilou_profile.avif
Lede Project 1 Breakdancing.ipynb  menno_move.avif
hong10_move.avif                   menno_profile.avif
hong10_profile.avif                victor_move.avif
index.html                         victor_profile.avif

In [255]:
ls

Bboy Competitors by Country MAP.xlsx  Bboy Wins by Country.xlsx
Bboy Crews - Country and Year.xlsx    Bboys Country by Year.xlsx

In [6]:
crew_df = pd.read_excel("Bboy Crews - Country and Year - V2.xlsx")
crew_df

NameError: name 'pd' is not defined

In [281]:
fr_crew_df = crew_df[crew_df['Country'] == 'France']
fr_crew_df.sort_values(by='Year')

     Year Country Competition
6    1995  France        BOTY
13   2001  France        BOTY
15   2003  France        BOTY
88   2005  France     Chelles
64   2005  France   Freestyle
18   2006  France        BOTY
45   2006  France     UK Bboy
93   2010  France     Chelles
49   2010  France     UK Bboy
50   2011  France     UK Bboy
23   2011  France        BOTY
94   2011  France     Chelles
24   2012  France        BOTY
97   2014  France     Chelles
98   2015  France     Chelles
79   2017  France   Freestyle
100  2017  France     Chelles
31   2019  France        BOTY

In [282]:
us_crew_df = crew_df[crew_df['Country'] == 'United States']
us_crew_df.sort_values(by='Year')

    Year        Country Competition
9   1997  United States        BOTY
58  1997  United States   Freestyle
10  1998  United States        BOTY
59  1998  United States   Freestyle
60  1999  United States   Freestyle
40  2001  United States     UK Bboy
61  2001  United States   Freestyle
42  2003  United States     UK Bboy
62  2003  United States   Freestyle
63  2004  United States   Freestyle
89  2006  United States     Chelles
65  2006  United States   Freestyle
90  2007  United States     Chelles
66  2007  United States   Freestyle
67  2008  United States   Freestyle
68  2009  United States   Freestyle
48  2009  United States     UK Bboy
92  2009  United States     Chelles
69  2010  United States   Freestyle
71  2012  United States   Freestyle
72  2013  United States   Freestyle
73  2014  United States   Freestyle
77  2017  United States   Freestyle
54  2017  United States     UK Bboy
81  2019  United States   Freestyle
84  2021  United States   Freestyle
86  2022  United States   Freestyle
87  2023  United States   Freestyle

In [283]:
sk_crew_df = crew_df[crew_df['Country'] == 'South Korea']
sk_crew_df.sort_values(by='Year')

     Year      Country Competition
14   2002  South Korea        BOTY
41   2002  South Korea     UK Bboy
43   2004  South Korea     UK Bboy
16   2004  South Korea        BOTY
17   2005  South Korea        BOTY
44   2005  South Korea     UK Bboy
19   2007  South Korea        BOTY
46   2007  South Korea     UK Bboy
21   2009  South Korea        BOTY
22   2010  South Korea        BOTY
70   2011  South Korea   Freestyle
51   2012  South Korea     UK Bboy
95   2012  South Korea     Chelles
25   2013  South Korea        BOTY
96   2013  South Korea     Chelles
52   2013  South Korea     UK Bboy
74   2015  South Korea   Freestyle
78   2017  South Korea   Freestyle
80   2018  South Korea   Freestyle
30   2018  South Korea        BOTY
101  2018  South Korea     Chelles
32   2021  South Korea        BOTY

In [284]:
nl_crew_df = crew_df[crew_df['Country'] == 'Netherlands']
nl_crew_df.sort_values(by='Year')

    Year      Country Competition
53  2014  Netherlands     UK Bboy
83  2019  Netherlands   Freestyle
33  2022  Netherlands        BOTY
85  2022  Netherlands   Freestyle

In [285]:
jp_crew_df = crew_df[crew_df['Country'] == 'Japan']
jp_crew_df.sort_values(by='Year')

     Year Country Competition
37   1998   Japan     UK Bboy
27   2015   Japan        BOTY
28   2016   Japan        BOTY
76   2016   Japan   Freestyle
29   2017   Japan        BOTY
102  2021   Japan     Chelles

In [286]:
uk_crew_df = crew_df[crew_df['Country'] == 'United Kingdom']
uk_crew_df.sort_values(by='Year')

    Year         Country         Competition
1   1990  United Kingdom                BOTY
4   1993  United Kingdom                BOTY
35  1996  United Kingdom             UK Bboy
36  1997  United Kingdom             UK Bboy
56  2022  United Kingdom  UK Bboy Undisputed
57  2023  United Kingdom  UK Bboy Undisputed

In [287]:
de_crew_df = crew_df[crew_df['Country'] == 'Germany']
de_crew_df.sort_values(by='Year')

    Year  Country Competition
0   1990  Germany        BOTY
2   1991  Germany        BOTY
3   1992  Germany        BOTY
5   1994  Germany        BOTY
12  2000  Germany        BOTY

In [5]:
crew_df[crew_df['Competition'] == 'BOTY']

NameError: name 'crew_df' is not defined

In [4]:
crew_df[crew_df['Competition'] == 'UK Bboy']

NameError: name 'crew_df' is not defined

In [298]:
crew_df[crew_df['Competition'] == 'BOTY'].groupby("Country").value_counts()

Country         Year  Competition
France          1995  BOTY           1
                2001  BOTY           1
                2003  BOTY           1
                2006  BOTY           1
                2011  BOTY           1
                2012  BOTY           1
                2019  BOTY           1
Germany         1990  BOTY           1
                1991  BOTY           1
                1992  BOTY           1
                1994  BOTY           1
                2000  BOTY           1
Hungary         1999  BOTY           1
Italy           1995  BOTY           1
Japan           2015  BOTY           1
                2016  BOTY           1
                2017  BOTY           1
Netherlands     2022  BOTY           1
Russia          2008  BOTY           1
                2014  BOTY           1
                2023  BOTY           1
South Korea     2002  BOTY           1
                2004  BOTY           1
                2005  BOTY           1
                2007  BOTY           1
                2009  BOTY           1
                2010  BOTY           1
                2013  BOTY           1
                2018  BOTY           1
                2021  BOTY           1
Switzerland     1996  BOTY           1
United Kingdom  1990  BOTY           1
                1993  BOTY           1
United States   1997  BOTY           1
                1998  BOTY           1
Name: count, dtype: int64

In [292]:
crew_df[crew_df['Competition'] == 'UK Bboy'].groupby("Country").value_counts()

Country         Year  Competition
Canada          1999  UK Bboy        1
France          2006  UK Bboy        1
                2010  UK Bboy        1
                2011  UK Bboy        1
Hungary         2000  UK Bboy        1
Italy           2019  UK Bboy        1
Japan           1998  UK Bboy        1
Netherlands     2014  UK Bboy        1
Russia          2008  UK Bboy        1
South Korea     2002  UK Bboy        1
                2004  UK Bboy        1
                2005  UK Bboy        1
                2007  UK Bboy        1
                2012  UK Bboy        1
                2013  UK Bboy        1
United Kingdom  1996  UK Bboy        1
                1997  UK Bboy        1
United States   2001  UK Bboy        1
                2003  UK Bboy        1
                2009  UK Bboy        1
                2017  UK Bboy        1
Name: count, dtype: int64

In [293]:
crew_df[crew_df['Competition'] == 'Freestyle'].groupby("Country").value_counts()

Country        Year  Competition
Canada         2015  Freestyle      1
France         2005  Freestyle      1
               2017  Freestyle      1
Japan          2016  Freestyle      1
Netherlands    2019  Freestyle      1
               2022  Freestyle      1
South Korea    2011  Freestyle      1
               2015  Freestyle      1
               2017  Freestyle      1
               2018  Freestyle      1
United States  1997  Freestyle      1
               1998  Freestyle      1
               1999  Freestyle      1
               2001  Freestyle      1
               2003  Freestyle      1
               2004  Freestyle      1
               2006  Freestyle      1
               2007  Freestyle      1
               2008  Freestyle      1
               2009  Freestyle      1
               2010  Freestyle      1
               2012  Freestyle      1
               2013  Freestyle      1
               2014  Freestyle      1
               2017  Freestyle      1
               2019  Freestyle      1
               2021  Freestyle      1
               2022  Freestyle      1
               2023  Freestyle      1
Venezuela      2019  Freestyle      1
Name: count, dtype: int64

In [294]:
crew_df[crew_df['Competition'] == 'Chelles'].groupby("Country").value_counts()

Country        Year  Competition
France         2005  Chelles        1
               2010  Chelles        1
               2011  Chelles        1
               2014  Chelles        1
               2015  Chelles        1
               2017  Chelles        1
Japan          2021  Chelles        1
Portugal       2016  Chelles        1
South Korea    2012  Chelles        1
               2013  Chelles        1
               2018  Chelles        1
Ukraine        2008  Chelles        1
United States  2006  Chelles        1
               2007  Chelles        1
               2009  Chelles        1
Name: count, dtype: int64